In [1]:
import sqlite3 as sq
from sqlite3 import Error

UI = ''' 
0. Create/connect database
1. Add new contact
2. View contacts
3. Search contact
4. Update contact
5. Delete contact
6. Reset all
7. Exit
'''   
def database():
    global cur, con
    con = sq.connect('contact_book.db',timeout=10)
    #唔加timeout 的話會lock database......操
    cur = con.cursor()
    cur.execute('''create table if not exists contact_book (name, phone, address)''')

def add_data():
    name = input('name')
    phone = input('phone no')
    address = input('address')
    sq_add = "insert into contact_book(name, phone, address) values('{}','{}','{}');".format(name, phone, address)
    #令sql知道要將name,phone,address 放入sq
    cur.execute(sq_add)
    con.commit()
    return name,phone,address
    print('successfully insert data')

def view_contact():
    cur.execute("select * from contact_book")
    rows = cur.fetchall()
    print('ALL CONTACT\nNAME\tPHONE\tADDRESS\n')
    for row in rows:
        print("{}\t{}\t{}".format(row[0],row[1],row[2]))
        #row is a tuple, therefore you need to follow the '0,1,2,3...'sequence to callout your data in the database. 
        #要試下點樣用table column name print out row......有點難呀！
        
def search_contact():
    name = input('search by name: ')
    results = cur.execute("select name,phone,address from contact_book where name=?",(name,))
    value = cur.fetchone()
    #name, 代表從 ‘name’ 這個variable搜查
    try:
        print('name\tphone\taddress\n')
        print('{}\t{}\t{}\t'.format(value[0],value[1],value[2]))
    except:
        print('no such data')
    #唔用try...except 不能匯報係database不存在的數據......操

def update_contact():
    name = input('update which name?')
    a = input('phone')
    b = input('address')
    try:
        cur.execute("update contact_book SET phone = ? , address = ? WHERE name = ?",(a,b,name,))
        con.commit() #存起個file
    except:
        print('-.-')


database()
view_contact()

nameabc
phone no123
addressas
update which name?a
phone1234
addressggggg
ALL CONTACT
NAME	PHONE	ADDRESS

a	1234	ggggg
abc	123	as